.history {
  display: flex;
  flex-direction: column;
  gap: var(--space-small);
}

.entry {
  display: flex;
  flex-direction: column;
  gap: var(--space-smallest);
}

.line {
  min-height: 24px;
  display: flex;
  align-items: center;
}

.input {
  color: var(--text-color-alt);
  padding: var(--space-smallest) var(--space-small);
}

.inputText {
  white-space: pre-wrap;
  line-height: 1.5;
}

.output {
  flex: 1;
  white-space: pre-wrap;
  line-height: 1.5;
  padding: var(--space-small);
  border-top: 1px solid rgba(57, 57, 57, 0.5);
  border-bottom: 1px solid rgba(57, 57, 57, 0.5);
}

.errorOutput {
  color: rgb(254, 138, 138);
}

.successOutput {
  color: var(--color-accent);
  display: flex;
  align-items: center;
  gap: var(--space-small);
}

.successOutput::before {
  content: "→";
  color: var(--color-accent);
}
