.tabs {
  display: flex;
  padding: 0 var(--space-base);
  border-bottom: 1px solid var(--color-border);
}

.tab {
  padding: var(--space-small) var(--space-base);
  font: var(--heading-alternate);
  color: var(--color-text-tertiary);
  position: relative;
  transition: color 0.2s;
}

.tab:hover {
  color: var(--color-text);
}

.tab.active {
  color: var(--color-text);
}

.tab.active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--color-accent);
}
