.popup {
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: var(--space-small);
  width: 25rem;
  background-color: var(--bg-surface-alt);
  font: var(--text-alternate);
  color: var(--text-color);
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border);
  z-index: 100;
  isolation: isolate;
}

.content {
  padding: var(--space-base);
  position: relative;
}

.title {
  font: var(--heading-alternate);
  margin-bottom: var(--space-small);
}

.text {
  color: var(--text-color-alt);
  margin-bottom: var(--space-small);
}

.subhead {
  font-size: 14px;
  margin: var(--space-base) 0 var(--space-smallest);
}

.list {
  color: var(--text-color-alt);
  margin-left: var(--space-base);
  list-style-type: disc;
}

.listItem {
  margin-top: var(--space-smallest);
  opacity: 0.8;
  line-height: 1.5;
}
