:root {
  --color-surface: #191919;
  --color-surface-alternate: #2d2d2d;
  --color-accent: #a3e635;
  --color-accent-alternate: #cf37f0;
  --color-text: white;
  --color-text-secondary: #bababa;
  --color-text-tertiary: #848484;
  --color-border: #2b2b2b;
  --color-border-alternate: #424242;

  /* Code Editor Dark Theme */
  --color-type-tags: #a3e635;
  --color-name-tags: #c9aef5;
  --color-line-highlight: #191919;
  --color-gutter-background: #191919;
  --color-comment: #848484;
  --color-selection: #323232;
  --color-selection-match: #595959;
}
