:root {
  --color-surface: #121212;
  --color-surface-alternate: #181818;
  --color-surface-hover: #2a2a2a;
  --color-accent: #a3e635;
  --color-accent-alternate: #cf37f0;
  --color-text: white;
  --color-text-secondary: #bababa;
  --color-text-tertiary: #848484;
  --color-alert: #fe8a8a;
  --color-border: rgba(255, 255, 255, 0.09);
  --color-border-alternate: rgba(255, 255, 255, 0.2);

  /* Code Editor Dark Theme */
  --color-type-tags: #a3e635;
  --color-name-tags: #c9aef5;
  --color-line-highlight: #121212;
  --color-gutter-background: #121212;
  --color-comment: #848484;
  --color-selection: #1f1f1f;
  --color-selection-match: #595959;
}
