:root {
  --navbar-height: 60px;
  --footer-height: 38px;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
  font-family: inherit;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
}

button:focus {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
