.container {
  color: var(--color-accent);
  padding: var(--space-small) 0 0 0;
}

.prompt {
  user-select: none;
  padding-top: var(--space-smallest);
}

.editorWrapper {
  position: static;
}

.editorContainer {
  position: relative;
}

.executeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  gap: var(--space-small);
  padding: 4px 12px;
  color: var(--text-color-alt);
  background-color: var(--bg-surface-alt);
  border-radius: 4px;
  font-size: 12px;
  font-weight: 300;
  transition: all 0.3s ease;
}

.executeButton:hover {
  background-color: var(--bg-color-alt);
  color: var(--text-color);
}
