.container {
  color: var(--color-accent);
  margin: var(--space-small) calc(var(--space-base) * -1) 0;
}

.editorContainer {
  position: relative;
  padding: 0 var(--space-base);
  margin-left: -4px;
}

.executeButton {
  position: absolute;
  top: var(--space-small);
  right: var(--space-small);
  display: flex;
  align-items: center;
  gap: var(--space-small);
  padding: var(--space-smallest) var(--space-base);
  color: var(--text-color-alt);
  border-radius: var(--space-smallest);
  font-size: 12px;
  font-weight: 300;
  transition: all 0.3s ease;
}

.executeButton:hover {
  background-color: var(--bg-color-alt);
  color: var(--text-color);
}
