.container {
  position: relative;
  color: var(--color-accent);
  padding: var(--space-small) 0 0 0;
}

.prompt {
  user-select: none;
  padding-top: var(--space-smallest);
}

.editorWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.executeButton {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  gap: var(--space-small);
  padding: 4px 12px;
  color: var(--text-color-alt);
  border-radius: 4px;
  font-size: 12px;
  font-weight: 300;
  transition: opacity 0.3s ease;
  opacity: 0.9;
}

.executeButton:hover {
  background-color: var(--bg-color-alt);
  color: var(--text-color-alt);
  opacity: 1;
}
