.container {
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  position: relative;
}

.content {
  flex: 1;
  overflow: auto;
  padding: var(--space-small) var(--space-base) var(--space-largest);
  font: var(--text-base);
  transition: margin-right 0.1s ease;
}

.content.shifted {
  margin-right: var(--panel-width, 400px);
}
