.container {
  min-height: 100vh;
  height: 100vh;
  background-color: var(--color-surface);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: var(--space-small) var(--space-base) var(--space-largest);
  font: var(--text-base);
  transition: margin-right 0.1s ease;
  height: calc(100vh - var(--navbar-height));
}

.content.shifted {
  margin-right: var(--panel-width, 400px);
}
